html, body {
    margin: 0;
}

body {
    background-color: snow;
    display: flex;
    justify-content: center;
    font-family: arial;
}

.wrapper {
    width: 1490px;
    display: flex;
    margin: 0 auto;
    background-color: snow;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}

.header {
    background-color: snow;
    min-height: 150px;
    padding: 20px;
    display: flex;
}

.header .title{
    padding: 65px;
}

.content {
    background-color: white;
    min-height: 382px;
    padding: 20px;
}

.main .content h3{
    text-align: center;
}

.footer {
    display: flex;
    background-color: rgb(250, 97, 42);
    min-height: 150px;
    color: white;
}

.footer .map{
    padding: 10px;
}

.footer .Contato{
    padding-left: 300px;
}

.footer .Contato .form-contato{
    width: 250px;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;
    font-family: arial;
}


ul li {
    position: relative;
}

li ul {
    position: absolute;
    left: 149px;
    top: 0;
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: white;
    background: rgb(250, 97, 42);
    padding:7px;
    border: 1px solid white;
}

ul li a:hover{
    font-weight: bold;
    background: #dc5608; 
}

.content .table{
    -webkit-box-shadow: 31px 17px 26px -11px rgba(0,0,0,0.3);
    -moz-box-shadow: 31px 17px 26px -11px rgba(0,0,0,0.3);
    box-shadow: 31px 17px 26px -11px rgba(0,0,0,0.3);
    border: solid 1px;
    border-color: #dc5608;
}

.content .table th{
    background-color: #dc5608;
    color: white;
}

.content .table th, td{
    padding: 10px;
}

.content .table tr:hover {
    background-color: #dc5608;
    color: white;
}

.content .table tr:hover {
    cursor: pointer;
}

